# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/
